/.pytest_cache
/__pycache__
/_pycache_
bad virus_simulation_pop_100_vp_0.5_infected_1.txt
ebola_simulation_pop_100_vp_0.9_infected_10.txt
ebola_simulation_pop_100000_vp_0.9_infected_10.txt
worstebola_simulation_pop_100_vp_0.9_infected_25.txt
